* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(132, 114, 91);
}

h4 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 700;
}

h5 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 500;
}